@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    max-width: 998px;
}

h1{
    font-family: Righteous, cursive;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 a{
    list-style: none;
    text-decoration: none;
    color: black;
}

header nav .search {
    height: 1.2rem;
    width: 1.2rem;
}

header nav .top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}

header nav .top-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 5px;
    border: 1px solid transparent;
}

header nav .top-menu li a:hover {
    border: 1px solid black;
    
}

.search-box{
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 180px;
    border-bottom: 1px solid black;
}

.search-box:hover > .search-btn {
    border-bottom: 1px solid black;
    background-color:black;
}

.search-txt{
    border: none;
    outline: none;
    transition: 0.4s;
    width: 0;
}

.banner {
    background-image: url(../img/zerowaste_header.png);
    background-position: top;
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button {
  background: #333;
  padding: 1em 2em;
  color:white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  align-items: center; 
}

.button:hover {
  background: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 620px) {

    header nav {
        display: flex;
        margin: 20px;
        
    }

    header nav .top-menu{
        justify-content: flex-end;
    }

    header nav .top-menu li a {
        padding: 5px 20px;
    }

    .top-menu {
        flex: 1;
    }

    .about-us p, .contacts p{
        text-align: left;
        margin: 5px 20px;
    }
}

main{
    text-align: center;
}

h2, .ngo {
    margin: 0;
}

main .subname{
    margin: 20px;
}

h3{
    font-size: 1.2rem;
    margin: 40px;
}

.educational-activities, .ecoshop-activities, .work-with-urban-authorities,
.work-with-business{
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    max-width: 300px;
    
}

#main-directions-of-work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articles-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article-what-is-zerowaste img, .article-composting img{
    margin: 20px;
    padding: 5px;
    max-width: 300px;
    max-height: 200px;
}

.articles p{
    text-align: start;
    margin: 0 20px;
    padding: 5px;
    max-width: 300px;
    max-height: 200px;
}

.all-articles a{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: black;
    margin: 20px 50px;
    padding: 5px;
    border: 1px solid transparent;
}

.all-articles a:hover {
    
    font-weight: bold;
    
}

.ecoshop-block img{
    margin: 10px;
    padding: 0;
    max-width: 230px;
    max-height: 300px;
}

.ecoshop-block{
    margin-left: 20px;
    margin-right: 20px;
    
}

@media(min-width: 600px){

    .ecoshop-block{
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
   
    }
}


@media(min-width: 890px){

    .ecoshop-block{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
   
}

}

.go-to-all-products a{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: black;
    margin: 20px 50px 80px 50px;
    padding: 5px;
    border: 1px solid transparent;
}

.go-to-all-products a:hover {
    font-weight: bold;   
}

.team-members img{
    height: 200px;
    width: 200px;
}

.team-members figure img, .contacts figure img{
    height: 20px;
    width: 20px;
}

.partners img{
    max-width: 200px;
    max-height: 200px;
}

@media(min-width: 620px){

    .team-members, .partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }


    #contacts-paragr{
        float: left;
        text-align: left;
        width: 45%;
    }


    #message{
        float: right;
        width: 50%; 
    }

    #message input[type="submit"]{
        margin-bottom: 70px;
    }

    #footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin:auto;

    }
}


#message{
    padding: 15px;
}

#message input[type="text"], input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 70%;
}

#message input[type="submit"]{
    padding: 4px;
    height: 25px;
    width: 70%; 
}

.btn1{
    margin-bottom: 70px;
    background: #ed3795;
    color:white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.btn1:hover{
    background: #333;
}


#message textarea{
    width: 70%;
    height: 150px;
}

#footer{
    padding: 20px;
    margin-top: 30px;
    color:black;
    border-top: 1px solid #2a2b2e;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    
}

footer p a{
    text-decoration: none;
    list-style: none;
    color: black;
}

footer p a:hover{
    text-decoration: underline;
}

footer img {
    height: 1.2rem;
    width: 1.2rem;
}


